body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    color: #333;
  }

  header {
    background-color: rgb(4, 4, 41); 
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  nav {
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
  }
  
  h2{
    font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: absolute;
  color: #173b6c;
  }
  section h2 {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding-bottom: 5px;
  }

  section h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75%;
    height: 5px;
    background-color: rgb(173, 102, 36); 
  }
  section {
    padding: 20px;
    margin: 20px;
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
.container {
	min-height:60vh;
	width: 100%;
	display:flex;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgb(4, 4, 41);
    color: #fff; 
    text-align: center;
    padding: 10px 0;
    position:relative;
    bottom: 0;
    width: 100%;
  }
#about .about {
    flex-direction: row;
}
#about .col-right {
    text-align: left;
    padding: 30px;
}
#about .col-right h1 {
    text-align: left;
}
#about .col-left {
    width: 2000px;
    height: 400px;
    padding-left: 30px;
}
#about .col-left .about-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 50%;
}
#about .col-left .about-img {
	height: 98%;
	width: 98%;
	position: relative;
	border: 7px dashed rgb(132, 18, 18);
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}
#skills {
    margin-top: 20px;
  }
  #skills .container {
    display: flex;
    flex-wrap: wrap;
  }
  #skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  .skill {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px; 
    text-align: center;
  }

  .skill-icon {
    margin-top: 40px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .progress-bar {
    width: 300px; 
    height: 10px; 
    background-color: #ddd;
    border-radius: 3px; 
    margin-top: 10px;
  }
  
  .progress {
    height: 100%;
    background-color: #007bff; 
    border-radius: 3px; 
    text-align: center;
    line-height: 10px;
    color: #fff; 
  }
  
  .services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
  }
  
  .services .icon i {
    color: #fff;
    font-size: 24px;
  }
  .services .title {
    margin-top: 50px;
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .title a {
    color: #343a40;
  }
  
  .services .title a:hover {
    color: #149ddd;
  }
  
  .services .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }
  .section-bg {
    background: #f5f8fd;
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
    color: #173b6c;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 5px;
    background:  rgb(173, 102, 36);
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }